version: '3'

services:
  next:
    build: .
    container_name: next-photo-gallery
    restart: always
    ports:
      - '3001:3001'
    environment:
      NODE_ENV: production
    networks:
      - app-network
networks:
  app-network:
    external: true
