@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Effra';
  src: url('./fonts/Effra-Light.woff2') format('woff2'), url('/fonts/Effra-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
