@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Effra';
  src: url('./fonts/Effra-Light.woff2') format('woff2'), url('/fonts/Effra-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  scrollbar-width: none; /* Firefox için */
  -ms-overflow-style: none; /* IE ve eski Edge için */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none; /* WebKit tarayıcılar için tüm elementlerde scroll bar gizleme */
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ana container'da taşmayı önle */
}

main {
  flex-grow: 1;
  overflow: auto; /* İçerik kaydırılabilir kalsın */
  scrollbar-width: none;
}
